{
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 2,
    "printWidth": 100,
    "arrowParens": "avoid",
    "jsxBracketSameLine": false,
    "bracketSpacing": true,
    "quoteProps": "as-needed"
}
